[Unit]
Description=SSR_REDIR
After=network.target

[Service]
Type=idle
ExecStartPre=/usr/bin/node /etc/proxyStuff/setup.js /etc/ssr-config/%i.json
ExecStart=/bin/sh /etc/proxyStuff/run.sh
ExecStopPost=/usr/bin/node /etc/proxyStuff/flush.js

[Install]
WantedBy=multi-user.target
